html,
body {
  background-color: floralwhite;
  height: 100vh;
  width: 100vw;
  font-size: 1.5cqh;
}
.container {
  background-color: floralwhite;
  border-style: solid;
  min-height: 100vh;
  min-width: 100vw;
}
.btn {
  height: calc(1mm + 3vh);
  width: 10vw;
  min-width: fit-content;
  min-height: 5px;
  max-height: max-content;
  max-width: 100px;
}
.btn-primary {
  background-color: #add8fe;
  color: black;
  border-color: black;
}
.btn-info {
  background-color: rgb(248, 241, 141);
  border-color: black;
}
.btn-info:hover {
  background-color: rgb(175, 170, 97);
  border-color: black;
}
.btn-search {
  max-width: 20px;
}
